body {
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    /*justify-content: center;*/
    align-items: flex-start;
    justify-items: auto;
    height: 100vh;
    padding: 10px;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 500;
}

.filter-bar {
    background-color: rgba(0, 129, 62, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-icon,
.filter-favorite {
    background: none;
    border: none;
    font-size: 20px;
    color: #100f10;
    cursor: pointer;
    display: flex;
}

.filter-icon:hover,
.filter-favorite:hover {
    color: #1B3A57;
}

.filter-form label {
    font-size: 14px;
    color: #100f10;
    margin-bottom: 5px;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-family: 'Tenor Sans', sans-serif;
}

.filter-form input {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.filter-form input::placeholder {
    color: #c0c0c0;
    font-family: 'Tenor Sans', sans-serif;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.search-button,
.reset-button {
    background-color: #023E84;
    color: white;
    font-family: 'Tenor Sans', sans-serif;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 15px;*/
}

.search-button:hover,
.reset-button:hover {
    background-color: #01579b;

}


@media screen and (max-width: 600px) {

    .filter-bar {
        width: 95%;
        padding: 10px;
        margin: 10px auto;

    }

    .filter-form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .filter-group {
        display: flex;
        flex-direction: column;
    }

    .filter-group label {
        font-size: 14px;
    }

    .filter-group input {
        font-size: 14px;
        padding: 8px;
        margin-bottom: 5px;
    }

    .filter-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        grid-column: span 2;

    }

    .search-button,
    .reset-button {
        padding: 8px 10px;
        font-size: 14px;
        background-color: #023e84;
        color: white;
        border: none;
        border-radius: 15px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .search-button:hover,
    .reset-button:hover {
        background-color: #01579b;
    }

    .container {
        display: block;
        flex-direction: column;
        gap: 10px;
    }


    #calendar-container {
        padding: 10px;
        width: 95%;
        margin: 10px auto;
    }

    #today-button, #share-button {
        padding: 8px 10px;
        font-size: 12px;
    }
}


.container {
    display: flex;
    gap: 20px; 
    align-items: flex-start; 
    height: auto;
}

#calendar-container {
    position: relative;
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #ffffff; 
    padding: 20px;
	padding-bottom:40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#calendar {
    width: 100%;
    min-height: 800px; 

}

#today-button {
   position: absolute;
    top: 20px;
    left: 20px;
    background-color: #023E84;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 14px;
}

#today-button:hover {
    background-color: #01579b;
}

#share-button {
    position: absolute;
    bottom: 20px; 
    right: 20px;  
    background-color: #023E84;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 14px;
}

#share-button:hover {
    background-color: #01579b;
}

.filter-favorite.active {
    color: #ff0000;
}


/* Calendar button styling */
.fc-button {
    background-color: #023E84 !important;
    color: white !important;
    font-family: 'Tenor Sans', sans-serif !important;
    padding: 10px 20px !important;
    border: none !important;
    border-radius: 15px !important;
    cursor: pointer !important;
    font-size: 14px !important;
    transition: background-color 0.3s ease-in-out !important;
}

.fc-button:hover {
    background-color: #01579b !important;
}

/* Nadpisywanie */
.fc-prev-button,
.fc-next-button,
.fc-today-button {
    background-color: #023E84 !important;
    color: white !important;
    border-radius: 15px !important;
    padding: 8px 16px !important;
}

.fc-prev-button:hover,
.fc-next-button:hover,
.fc-today-button:hover {
    background-color: #01579b !important; 
}

.fc-button-primary {
    background-color: #023E84 !important; 
    color: white !important;
    padding: 8px 16px !important;
    border-radius: 15px !important;
}

.fc-button-primary:hover {
    background-color: #01579b !important;
}


.fc-toolbar .fc-button {
    margin: 0 5px !important;
}